@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    @apply text-stone-900 text-xl capitalize font-medium hover:text-blue-600 transition-all duration-150 cursor-pointer;
  }
  .container-center {
    @apply container  mx-auto px-4 py-8 sm:px-6;
  }
}

.section-height {
  height: calc(100vh - 32px);
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
